/* CSS DOCUMENT */
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mansalva&family=Montserrat&display=swap');

@font-face {
    font-family: "Tieldsa";
    src: url(fuentes/Tieldsa-Regular-BF68e4d7d3d9b6d.otf) format('otf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #202020;
    box-sizing: border-box;
    max-width: 100%;
    scrollbar-gutter: stable;

}

* {
    margin: 0;
    padding: 0;
}

/*comienza el header y lo mismo para los demas html*/
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

nav a {
    text-decoration: none;
    color: #5DD62C;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    display: block;
    padding: 10px 10px;
    border: 2px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

nav a:hover {
    background-color: #5DD62C;
    color: #202020;
    box-shadow: 0 0 10px #5DD62C;
}


/*index*/
/*comienza el main*/
h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #DF2451;
}

h1 {
    font-family: "Tieldsa";
    font-size: 300px;
    color: #5DD62C;
    margin: 0;

}

.intro {
    text-align: center;
}

.subtitulo {
    margin-bottom: 0px;
    margin-top: 140px;
}

.fecha {
    font-family: "Mansalva", sans-serif;
    font-size:300px;
    color: #DF2451;
    margin-top: -300px;
    margin-bottom: 0;
}

.icono {
    display: flex;
    justify-content: center;
    margin-top: -125px;
}
/*aca empieza el footer y para demas html*/
p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #5DD62C;
}

footer {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    margin-top: 66px;
}

/*sobre mi*/
