/* CSS DOCUMENT */
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mansalva&family=Montserrat&display=swap');

@font-face {
    font-family: "Tieldsa";
    src: url(fuentes/Tieldsa-Regular-BF68e4d7d3d9b6d.woff2) format("woff2"), url(fuentes/Tieldsa-Regular-BF68e4d7d3d9b6d.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #202020;
    box-sizing: border-box;
    max-width: 100%;
    scrollbar-gutter: stable;
    cursor: url(img/cursor.png), auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

* {
    margin: 0;
    padding: 0;
}

/*comienza el header y lo mismo para los demas html*/
header {
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

nav  ul a {
    text-decoration: none;
    color: #5DD62C;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    display: block;
    padding: 10px 10px;
    border: 2px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

nav ul a:hover {
    background-color: #5DD62C;
    color: #202020;
    box-shadow: 0 0 10px #5DD62C;
}

nav .logo {
    position: absolute;
    left: 20px;
}

nav img {
    max-width: 64px;
}

.logo img {
    max-width: 80px;
    transition: none;
    left: 40px;
    margin-top: 30px;
}

/*index*/
/*comienza el main*/
h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #DF2451;
}

h1 {
    font-family: "Tieldsa";
    font-size: 240px;
    font-weight: normal;
    color: #5DD62C;
    margin: 0;

}

.intro {
    text-align: center;
}

.subtitulo {
    margin-bottom: 0px;
    margin-top: 140px;
}

.fecha {
    font-family: "Mansalva", sans-serif;
    font-size:270px;
    color: #DF2451;
    margin-top: -300px;
    margin-bottom: 0;
}

.icono {
    display: flex;
    justify-content: center;
    margin-top: -125px;
}
/*aca empieza el footer y para demas html*/
footer p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #5DD62C;
}

footer {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    margin-top: 66px;
}

/*sobre mi*/
.portada {
    position: relative;
}

.portada img {
    margin-top: 20px;
    max-width: 100%;
    width: 100%;
    display: block;
}

.portada-texto {
    position: absolute;
    right: 5vw;
    bottom: 10.8vw;
    text-align: right;
    z-index: 2; 
    width: auto;

    /*animación general*/
    animation: aparecerDesdeAbajo 1.4s ease-out both;
}

.titulo-tuqui {
    font-family: "Tieldsa";
    font-size: 20rem;
    font-weight: normal;
    font-style: normal;
    color: white;
    margin: 0;
    padding: 0;
    display: inline-block;
    line-height: 0.8;
    position: relative;
    z-index: 2;
    text-shadow: 8px 2px 3px rgba(0, 0, 0, 0.3);
/*su animación*/
    opacity: 0;
    animation: aparecerDesdeAbajo 1.2s ease-out forwards;
    animation-delay: 0.2s;
}

.subtitulo-tuqui {
    font-family: "Mansalva", serif;
    font-size: 6vw;
    color: #DF2451;
    position: absolute;
    right: 2vw;
    bottom: -2vw;
    margin: 0;
    padding: 0;
    z-index: 3;
    text-shadow: 8px 2px 3px rgba(0, 0, 0, 0.3);
    

/*su animación*/
    opacity: 0;
    animation: aparecerDesdeAbajo 1.2s ease-out forwards;
    animation-delay: 0.6s;
}

/*animación de arriba*/
@keyframes aparecerDesdeAbajo {
    0% {
        opacity: 0;
        transform: translateY(60px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/*sobre mi, esto es la sección que está debajo de mi imagen como portada*/
.barra-rosa {
    background-color: #DF2451;
    height: 100px;
    width: 100%;
}

.contenido-sobre-mi {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 90px;
    margin-top: 80px;
}

.texto-sobre-mi {
    width: 45%;
}

h3 {
    color: #5DD62C;
    font-family: "Tieldsa";
    font-weight: normal;
    font-size: 100px;
    margin-bottom: -20px;
}

.texto-sobre-mi p {
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.texto-sobre-mi h4 {
    color: white;
    font-size: 35px;
    font-weight: 700;
    margin-top: 100px;
}

.mi-imagen img {
    width: 820px;
    height: auto;
}

/*cuadros de información*/
.cuadros-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 60px 90px;
}

.cuadro {
    width: 48%;
    margin-top: 40px;
    box-sizing: border-box;
    border: 2px solid #DF2451;
    padding: 30px;
    border-radius: 30px;
}

h4 {
    color: #5DD62C;
    margin-bottom: 10px;
    font-size: 28px;
}

p {
    color: white;
    font-size: 18px;
}

.iconos {
    display: flex;
    gap: 45px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
}

/*animaciones para los iconos de adobe*/
.iconos img {
    height: auto;
    transition: transform 0.3s ease;
}

.iconos img:hover {
    transform: scale(1.1);
}

/*aca comienza la pestaña de "trabajos"*/

.portada-texto2 {
    position: absolute;
    left: 5vw;
    bottom: 10.8vw;
    text-align: left;
    z-index: 2; 
    width: auto;

    /*animación general*/
    animation: aparecerDesdeAbajo 1.4s ease-out both;
}

.barra-verde {
    background-color: #5DD62C;
    height: 100px;
    width: 100%;
}

.trabajos {
    text-align: center;
    padding: 80px 0;
}

.trabajos h4 {
    margin-bottom: 10px;
}

.trabajos p {
    margin-bottom: 60px;
}

/*sección de trabajos grid*/

.cajas-trabajos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start; 
    gap: 60px 80px;
    margin: 0 auto;
    padding: 0 40px;
}

.bloque {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 384px;
    text-align: center;
}

/*rectangulos de color*/
.tarjeta {
    position: relative;
    width: 300px;
    height: 370px;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease;

}

.tarjeta:hover {
    transform: scale(1.03);
}

/*colores*/
.color1 {background-color: #DF2451; }
.color2 {background-color: #33741B; }
.color3 {background-color: #5DD62C; }
.color4 {background-color: white; }

/*imagen del ojo*/
.ojo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    z-index: 2;
    transition: opacity 0.4s ease;
}

.oculta {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1;
}

/*animacion de revelar la imagen*/
.tarjeta:hover .oculta {
    opacity: 1;
}

.tarjeta:hover .ojo {
    opacity: 0;
}

/*textos debajo de las imagenes*/
.bloque h4 {
    margin-top: 25px;
    text-align: center;
}

.bloque p {
    max-width: 370px;
    line-height: 1.5;
}

/*aca inicia la pestaña de galeria*/

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 90px;
}

.ficha {
    flex: 1;
    height: 400px;
    position: relative;
    transition: all 0.5s ease;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
}

.ficha img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    transition: transform 0.8s ease, filter 0.8s ease;
}

.ficha_titulo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: black;
    background-color: #DF2451;
    padding: 0.5em;
    text-align: center;
    font-size: 16px;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    transition: all 0.5s ease-in-out;
    white-space: nowrap;
}

/*hover aplicado a la ficha*/

.contenedor:hover .ficha {
    flex: 0.8;
    filter: grayscale(0%);
    opacity: 0.7;
}

.contenedor .ficha:hover {
    flex: 2;
    opacity: 1;
}

.ficha:hover img {
    transform: scale(1.08);
    filter: grayscale(0%);
}

.ficha:hover .ficha_titulo {
    color: white;
    background: #DF2451;
    font-size: 14px;
    transform: rotate(0deg);
}


.contenido-sobre-mi2 {
    display: flex;
    justify-content: space-between;
    padding-left: 90px;
    margin-top: 30px;
}

.ficha_titulo_verde {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: black;
    background-color: #5DD62C;
    padding: 0.5em;
    text-align: center;
    font-size: 16px;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    transition: all 0.5s ease-in-out;
    white-space: nowrap;
}
.ficha:hover .ficha_titulo_verde {
    color: black;
    background: #5DD62C;
    font-size: 14px;
    transform: rotate(0deg);
}

.ficha_titulo_verdeoscuro {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: black;
    background-color: #33741B;
    padding: 0.5em;
    text-align: center;
    font-size: 16px;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    transition: all 0.5s ease-in-out;
    white-space: nowrap;
}
.ficha:hover .ficha_titulo_verdeoscuro {
    color: white;
    background: #33741B;
    font-size: 14px;
    transform: rotate(0deg);
}

/*aca inicia la pestaña de contacto*/

.portada-texto4 {
    position: absolute;
    right: 5vw;
    bottom: 10.8vw;
    text-align: right;
    z-index: 2; 
    width: auto;

    /*animación general*/
    animation: aparecerDesdeAbajo 1.4s ease-out both;
}

.barra-verdeoscuro {
    background-color: #33741B;
    height: 100px;
    width: 100%;
}

.fondo-verde {
    background-color: #5DD62C;
    padding: 40px 20px;
    padding-bottom: 110px;
}

.texto-sobre-mi4 h3 {
    color: #202020;
}
.texto-sobre-mi4 p {
    color: #202020;
    width: 646px;
    font-weight: 600;
}

.vector {
    position: absolute;
    top: 0;
    right: 0;
    width: 700px;
    z-index: 1;
}

.fondo-verde {
    position: relative;
}

.abajo .formulario {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 90px;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-left: 90px;
    margin-right: 0;
}

.cajaextra {
    background-color: #DF2451;
    color: black;
    padding: 25px 30px;
    border-radius: 15px;
    width: 335px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.cajaextra p {
    margin: 10px 0;
    line-height: 1.5;
    color: #202020;
    font-weight: bold;
}

form {
    background-color: #33741B;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    width: 620px;
}

/*campos de entrada*/
form input[type="text"],
form input[type="email"],
form textarea {
    background-color: white;
    font-size: 18px;
    font-family: Montserrat;
    border: none;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    outline: none;
    box-sizing: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

/*ajuste de textarea*/
form textarea {
    min-height: 100px;
    resize: vertical;
}

/*botón ENVIAR*/
#boton_enviar {
    background-color:#DF2451;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    align-self: flex-end;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, transform 0.2s;
}

#boton_enviar:hover {
    transform: scale(1.05);
}


/*media para pantallas más chicas*/
@media (max-width: 1366px) {
  .vector {
    width: 440px;
    top: 0px;
    right: 0; 
    opacity: 0.9;
  }
  .fondo-verde {
    position: relative;
}
}

.portada-texto3 {
    position: absolute;
    right: 5vw;
    bottom: 10.8vw;
    text-align: right;
    z-index: 2; 
    width: auto;

    /*animación general*/
    animation: aparecerDesdeAbajo 1.4s ease-out both;
}
